#toplevel_page_mydataninja-integration img {
  max-width: 21px;
  max-height: 21px;
  filter: grayscale(100%) brightness(200%);
}

.mdnj-wrap {
  color: #333;
}

.mydataninja a {
  text-decoration: none;
  color: white !important;
}

.mdnj-authorize-btn[disabled] {
  background-color: rgb(22 163 74);
  opacity: 0.8;
  cursor: not-allowed;
}

.mydataninja-logo {
  text-align: center;
  margin-bottom: 20px;
}

.mydataninja-logo img {
  max-width: 150px;
  height: auto;
}

.mdnj-interface-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mdnj-custom-interface {
  min-width: 700px;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mdnj-btn {
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mdnj-authorize-btn {
  background-color: #ff4e00;
}

.mdnj-save-btn {
  background-color: #3b82f6;
}

.mdnj-checkbox-container {
  border: 1px solid #d3d3d3;
  margin-top: 15px;
  padding: 15px;
  border-radius: 10px;
}

.mdnj-checkbox-container input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.mdnj-checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.mdnj-checkbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px 0;
  width: 80%;
}

.mdnj-checkbox-row p {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

.mdnj-checkbox-label {
  font-size: 14px;
  text-align: left;
  flex: 10;
}

.mdnj-checkbox-input {
  justify-content: flex-end;
  flex: 1;
  display: flex;
  align-items: center;
}

.mdnj-custom-interface {
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.mdnj-custom-interface p {
  margin-bottom: 20px;
}

.mdnj-authorize-btn,
.mdnj-install-btn {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.mdnj-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.mdnj-tab-link {
  background-color: #f1f1f1;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

.mdnj-tab-link:hover {
  background-color: #ddd;
}

.mdnj-tab-link.current {
  background-color: #ccc;
}

.mdnj-tab-content {
  display: none;
  padding: 5px;
  border-top: none;
}

.mdnj-tab-content.current {
  display: block;
}

.mdnj-no-underline {
  text-decoration: none;
}

.mdnj-no-underline:hover {
  text-decoration: none;
  color: inherit;
}

.mdnj-warning-message {
  color: #9f6000;
  background-color: #feefb3;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.mdnj-widget-container {
  margin-top: 50px;
}

.mdnj-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

.mdnj-widget > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mdnj-sales,
#mdnj-groupedNetworks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
